/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("../fonts/LeagueGothic/webfonts/stylesheet.css");
@import url("../fonts/Raleway/webfonts/stylesheet.css");
*{
	font-family: "Raleway";
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
li{
    list-style: none;
}
ul{
    padding:0;
}
body{
    font-size: 16px;
}
h2{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.inlineBlock{
    display: inline-block;
    position: relative;
}
#main{
    width: 43em;
    margin: 2em auto;
}
#addCharacterWrapper{
    position: absolute;
    z-index: 100;
    padding:1em;
    width:43em;
    pointer-events:none;
}
#addCharacterWrapper *{
    pointer-events:all;
}
.popupWrapper{
    display: none;
}
#addCharacterFormWrapper{
    background-color:#FFF;
    box-shadow: 0px 2px 5px #000000;
    width:30em;
    margin:auto;
}
#addCharacter{
    width:25em;
    padding:2em;
    margin: auto;
}
#addCharacter input{
    width:8em;
}
#addCharacter input[type=number]{
    width:3em;
}
#addCharacter .inlineBlock span{
    display: block;
    text-align: center;
}
#addCharacter label#addHeroType{
    margin-bottom:.4em;
}
#addCharacter .toggle{
    height: 1.8em!important;
    margin-top: -.2em;
    min-height: 0;
}
#addCharacter .toggle label{
    padding-top:.2em;
}
.toggle-group .toggle-off, .toggle-group .toggle-off:active, .toggle-group .toggle-off:hover{
    background-color: #23a8ec; 
    color: #FFF;
}
.toggle-group .toggle-on, .toggle-group .toggle-on:active{
    background-color: #ec2323; 
}
#ACInput label, #CMBInput label, #CMDInput label{
    display: block!important;
}
#ACInput, #CMDInput, #CMBInput{
    width:20em;
    font-size: 1.3em;
}
#ACInput label, #ACInput input,#CMDInput label, #CMDInput input,#CMBInput label, #CMBInput input{
    font-size: 16px;
    margin-bottom: -.5em;
}
#ACTotal, #CMBTotal, #CMDTotal{
    width: 2em;
    text-align: left!important;
    display: inline-block!important;
}
#combatLog{
    min-height: 1em;
    position: relative;
    background-color:#eee;
    padding:1em;
    margin-top:1em;
}
#combatLogheader h1, #combatLogheader h2{
    display: inline-block;
}
#roundTimer{
    font-size: 1.2em;
}
#roundCounter{
    margin-top:0;
}
.combatParticipant{
    position: relative;
}
.reOrder{
    position: absolute;
    right:-.2em;
    top:1em;
}
.reOrder > div{
    font-size: 1.5em;
    display: block;
    width:1em;
    height:1em;
    margin-top:.5em;
}
.reOrder > div:hover{
    cursor: pointer;
}
.participantHeader, .participantBody{
    width:95%;
    padding:0.2em 1em;
    position: relative;
}
.hero .participantHeader, .hero .initiativeOrder, .hero .initiativeOrder .hoverBackground{
    background-color: #23a8ec; 
}
.enemy .participantHeader, .enemy .initiativeOrder, .enemy .initiativeOrder .hoverBackground{
    background-color: #ec2323; 
}
.participantHeader{
    margin-top: 0.9em;
    height:3.5em;
}
.participantHeader .backgroundImageLabel{
    background-repeat: no-repeat;
    background-size: 50px;
    width:50px;
    height:50px;
    padding-top:13px;
    text-align: center;
}
.initiativeOrder{
    color: #FFF;
    font-weight: 600;
    position: absolute;
    border:2px solid #FFF;
    border-radius: 1em;
    width:1.5em;
    height:1.5em;
    text-align: center;
    top: -.8em;
    left: -.5em;
}
.initiativeOrder .hoverBackground{
    height:2.5em;
    width:4em;
    border-radius: 1em;
    border:2px solid #FFF;
    left: 0em;
    top: -0.2em;
}
.participantName{
    margin-top:0.7em!important;
    width: 8.5em;
}
.participantName h2{
    width: 6em;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#fff;
}
.participantName h2:hover{
    overflow: visible;
    z-index: 100;
    width:auto;
    padding:.2em .5em;
    margin-top:-.2em;
    margin-left:-.5em;
    text-shadow: 1px 2px #222;
}
.hiddenStat{
    display: none;
}
.hitPointsWrapper{
    position: relative;
}
.currentHP{
    background-image: url("../img/heartIcon.png");
    background-size: 50px 50px;
    background-position: -1px 1px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top:-1em;
    width:3em;
    text-align: center;
    padding:1em 0;
}
.hitPointsWrapper > *{
    position: relative;
}
.removeHP, .addHP, .maxHP{
    position: absolute;
    padding: 0.1em;
    font-size: 1.2em;
    font-weight: 600;
}
.removeHP, .addHP{
    width:3.5em;
    top:1.5em;
    z-index: 100;
}
.removeHP span:first-child, .addHP span:first-child{
    padding-right:0.5em;
    border-right: 1px solid #aaa;
}
.removeHP>span:hover, .addHP>span:hover{
    font-weight: 600;
    cursor: pointer;
}
.maxHP{
    font-size: 0.9em;
    background-image: url("../img/heartIcon.png");
    background-size: 5em;
    background-position: -.2em 0;
    color: #000;
    top:0.7em;
    left:4.6em;
    width:4.6em;
    padding:1.6em 0.3em;
    background-repeat: no-repeat;
}
.addHP{
    color: #78ec23;
    right:0.2em;
}
.removeHP{
    color: #ec2323;
    left:0.2em;
}
.armorClassWrapper{
    position: relative;
}
.hoverBackground{
    z-index: 5;
    box-shadow: 0px 2px 5px #000000;
    background-color: RGB(250,250,250);
    position: absolute;
    padding: 0.5em;
}
.hitPointsWrapper .hoverBackground{
    width:12.5em;
    height:6em;
    top:-1.5em;
    left:-4.7em;
}
.armorClassWrapper .hoverBackground{
    width:9em;
    height:4.5em;
    top:-.7em;
    left:-.5em;
}
.armorClassWrapper:hover .ACLabel, .armorClassWrapper:hover .flatFootACLabel, .armorClassWrapper:hover .touchACLabel{
    z-index: 10;
}
.ACLabel, .flatFootACLabel, .touchACLabel{
    position: relative;
}
.ACLabel{
    background-image: url("../img/shieldIcon.png");
}
.flatFootACLabel{
    background-image: url("../img/footIcon.png");
    background-position: 1px 0px;
    display: none;
    position: absolute;
    top:0;
    left:2.5em;
}
.touchACLabel{
    background-image: url("../img/touchIcon.png");
    background-position: 2px -2px;
    position: absolute;
    top:0;
    left:4.8em;
}
.combatParticipant h2, .combatParticipant h3, .combatParticipant h4, .combatParticipant h5{
    margin: 0;
    padding: 0 .5em 0 0;
}

.secondaryStats{
    color: #fff;
    margin-top:0.2em;
}
.statusEffectsList{
    display: none;
    width:95%;
    background-color: #424242;
    color:#FFF;
    position: absolute;
    top:4em;
    padding:1em;
    left:0;
    z-index: 100;
    box-shadow: 0px 0px 4px #000000;
}
.statusEffectsList td, .statusEffectsList th{
    width: 13em;
    text-align: left;
}
.statusIndicator{
    position: absolute;
    width:50px;
    height:50px;
    right: 1em;
    overflow: hidden;
}
.statusIndicator img{
    width:50px;
    position: absolute;
    top:-50px;
    height: auto;
}
.weaponHeader > *{
    display: inline-block;
}
.weaponHeader > span{
    font-size: .7em;
    margin-top:-.8em;
}
.weaponHeader > span:hover{
    cursor: pointer;
}
.meleeAttack{
    background-image: url("../img/sword.png");
}
.rangedAttack{
    background-image: url("../img/arrow.png");
}
.meleeAttack, .rangedAttack{
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: -10px -15px;
    height:1.1em;
    padding-left:45px;
    float: left;
    width:42%;
    overflow: hidden;
}
.inlineBlock{
    display: inline-block;
}
.participantHeader > *, .participantHeader .participantLabel{
    display: inline-block;
    vertical-align: top;
}
.clearFix{
    clear: both;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
